<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(deixe em branco caso não queira mudar isso)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(nós precisamos de sua senha atual para efetuar a mudança)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Atualizar" %></div>
<% end %>

<h3>Cancelar minha conta</h3>

<p>Unhappy? <%= link_to "Cancelar minha conta", registration_path(resource_name), :confirm => "Tem certeza disso?", :method => :delete %>.</p>

<%= link_to "Voltar", :back %>
