<%= form_for(@voto) do |f| %>
<% if @voto.errors.any? %>
<div class="alert-message block-message error">
  <ul>
  <% @voto.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
<% if !@jaVotou && !@voto.grupo_id.nil?%>
<ul class="inputs-list unstyled" id="restaurantes_opcoes">
<% @restaurantes.each do |restaurante| %>
  <li class="optionRadio" id="restaurante_opcao">
    <label>
      <%= f.radio_button :restaurante_id, restaurante.id   %>
      <span><%= restaurante.nome %></span>
    </label>
  </li>
<% end %>
</ul>
<div class="actions-options">
<%= f.submit 'Votar', :class => 'btn primary'%>
</div>
<%= f.hidden_field :grupo_id %>
<% end %>
<% end %>
