<%= form_for(@grupo, :html => {:class => 'form-stacked'}) do |f| %>
<fieldset>
  <% if @grupo.errors.any? %>
    <div class="alert-message block-message error">
      <ul>
      <% @grupo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="clearfix">
    <%= f.label :nome %>
    <div class="input">
      <%= f.text_field :nome, :class => 'xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :frequencia %>
    <div class="input">
      <%= f.select :frequencia, @frequencias,  { :include_blank => 'Selecione a frequência'}, :class => 'xlarge' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label 'a cada' %>
    <div class="input">
      <%= f.select :a_cada, (1..30), {}, :class => 'mini' %>
      <span id="a_cada_label"></span>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :inicio %>
    <div class="input">
      <%= f.text_field :inicio, :class => 'small',:value => @grupo.inicio.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Salvar', :class => 'btn primary' %>
  </div>
</fieldset>
<% end %>
<script>
$(function() {
	$("#grupo_inicio").datepicker({ dateFormat: 'dd/mm/yy', defaultDate: +0, minDate: new Date(), showOptions: {direction: 'right' }}).mask("99/99/9999", { placeholder: " " });
	$("select#grupo_frequencia select#grupo_a_cada").change(function(){
    var frequencia = $(this).val();
    if(frequencia === "3"){
      if($('select#grupo_a_cada').val() > 1){
        $('span#a_cada_label').html('semanas');
      } else {
        $('span#a_cada_label').html('semana');
      }
    } else if(frequencia === "4"){
      if($('select#grupo_a_cada').val() > 1){
        $('span#a_cada_label').html('meses');
      } else {
        $('span#a_cada_label').html('mês');
      }
    } else if(frequencia === "5"){
       if($('select#grupo_a_cada').val() > 1){
        $('span#a_cada_label').html('anos');
      } else {
        $('span#a_cada_label').html('ano');
      }
    }
  });
});
</script>
