<h2>Grupos</h2>

<table class="bordered-table zebra-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @grupos.each do |grupo| %>
  <tbody>
    <tr>
      <td><%= grupo.nome %></td>
      <td>
      <% if grupo.usuario == current_usuario %>
      <%= link_to 'Restaurantes', grupo_path(grupo) %>
      <% end %>
      </td>
      <td>
      <% if grupo.usuario != current_usuario %>
      <% if grupo.usuarios.include? current_usuario %>
      <%= link_to 'Desasociar-se', '/grupos/desasociarUsuario/'+grupo.id.to_s, :confirm => 'Tem certeza disso?', :method => :delete %>
      <% else %>
      <%= link_to 'Associar-se', '/grupos/associarUsuario/'+grupo.id.to_s, :confirm => 'Tem certeza disso?', :method => :get %>
      <% end %>
      <% end %>
      </td>
      <td>
      <% if grupo.usuario == current_usuario %>
      <%= link_to 'Editar', edit_grupo_path(grupo) %>
      <% end %>
      </td>
      <td>
      <% if grupo.usuario == current_usuario %>
      <%= link_to 'Remover', grupo, :confirm => 'Tem certeza disso?', :method => :delete %>
      <% end %>
      </td>
    </tr>
  <tbody>
<% end %>
</table>

<br />

<%= link_to 'Criar um Grupo', new_grupo_path, :class => 'btn primary' %>
