<p>
<%= link_to 'Criar um Grupo', new_grupo_path, :class => 'btn primary' %>
<!--<%= link_to 'Convidar amigos', new_grupo_path, :class => 'btn' %>-->
</p>
<table class="condensed-table zebra-striped">
  <tbody>
  <% @grupos.each do |grupo| %>
      <tr>
        <td>
        <% if verificar_propietario(current_usuario, grupo.usuario) %>
        <span class="label notice">P</span>
        <% end %>
        <%= grupo.nome %>
        </td>
        <td>
        <% if verificar_propietario(current_usuario, grupo.usuario) %>
        <%= link_to 'Usuários ('+grupo.usuarios.count.to_s+') ('+grupo.membros.count.to_s+')', '/grupos/usuarios/'+grupo.id.to_s %>
        <% end %>
        </td>
        <td>
        <% if verificar_propietario(current_usuario, grupo.usuario) %>
        <%= link_to 'Restaurantes ('+grupo.restaurantes.count.to_s+')', grupo_path(grupo) %>
        <% end %>
        </td>
        <td>
        <% if !verificar_propietario(current_usuario, grupo.usuario) %>
        <% if autorizado(grupo, current_usuario) %>
        <%= link_to 'Desassociar-se', '/grupos/desassociarUsuario/'+grupo.id.to_s, :confirm => 'Tem certeza disso?', :method => :delete %>
        <% elsif aguardandoAutorizacao(grupo, current_usuario) %>
        Aguardando autorização...
        <% else %>
        <%= link_to 'Associar-se', '/grupos/associarUsuario/'+grupo.id.to_s, :confirm => 'Tem certeza disso?', :method => :get %>
        <% end %>
        <% end %>
        </td>
        <td>
        <% if verificar_propietario(current_usuario, grupo.usuario) %>
        <%= link_to 'Editar', edit_grupo_path(grupo) %>
        <% end %>
        </td>
        <td>
        <% if verificar_propietario(current_usuario, grupo.usuario) %>
        <%= link_to 'Remover', grupo, :confirm => 'Tem certeza disso?', :method => :delete %>
        <% end %>
        </td>
      </tr>
  <% end %>
  <tbody>
</table>
