<%= link_to 'Voltar', grupos_path, :class => 'btn' %>
<% @grupos.each do |grupo| %>
<h2>Restaurantes do Grupo - <a name="<%= grupo.id %>"><%= grupo.nome %></a></h2>

<%= form_for(@restaurante, :url => '/grupos/associarRestaurante', :html => {:class => 'form-stacked'}) do |f| %>
<fieldset>
  <div class="clearfix">
    <%= f.label 'Buscar restaurantes' %>
    <div class="input">
      <%= hidden_field_tag 'grupo_id', grupo.id  %>
      <%= f.select :id, Restaurante.order(:nome).collect {|restaurante| [restaurante.nome, restaurante.id] } %>
      <button class="btn primary">Associar</button>
      <%= link_to 'Novo Restaurante', new_restaurante_path, :class => 'btn' %>
    </div>
  </div>
</fieldset>
<% end %>
<% if !grupo.restaurantes.empty? %>
<table class="condensed-table  zebra-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% grupo.restaurantes.each do |restaurante| %>
    <tr>
      <td><%= restaurante.nome %></td>
      <td><%= link_to 'Desassociar', '/grupos/desassociarRestaurante/'+restaurante.id.to_s+'/'+grupo.id.to_s, :confirm => 'Tem certeza disso?', :method => :delete %></td>
    </tr>
<% end %>
  <tbody>
</table>
<% end %>
<% end %>
