<h2>Mudar sua senha</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
<%= f.hidden_field :reset_password_token %>
<fieldset>
  <% if resource.errors.any? %>
  <div class="alert-message block-message error">
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="clearfix">
    <%= f.label :password, "Nova senha" %>
    <div class="input">
    <%= f.password_field :password %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
    <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
    <%= f.email_field :email %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Mudar senha" %>
  </div>
</fieldset>
<% end %>

<%= render :partial => "usuarios/shared/links" %>
