<h2>Perdeu sua senha?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<fieldset>
  <% if resource.errors.any? %>
  <div class="alert-message block-message error">
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
    <%= f.email_field :email %>
    </div>
  </div>
  <div class="actions"><%= f.submit "Envie-me", :class => 'btn primary' %></div>
</fieldset>
<% end %>

<%= render :partial => "usuarios/shared/links" %>
