<!DOCTYPE html>
<html>
<head>
  <title>Ondevamos</title>
  <%= stylesheet_link_tag 'bootstrap.css', 'ondevamos.css', 'jquery-ui-1.8.16.custom.css' %>
  <%= javascript_include_tag 'jquery.js', 'jquery-ui.min.js', 'jquery_ujs.js', 'application.js', 'bootstrap-twipsy.js', 'bootstrap-popover.js', 'jquery.maskedinput-1.3.min.js' %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <%= csrf_meta_tag %>
  <% if Rails.env.production? %>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/Tn6TviQ7pT69EbNPcxyGw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-27330817-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <% end %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <div id="nome_logo">
        <% if usuario_signed_in? %>
        <a class="brand" href="/votos/home">Onde Vamos?
        </a>
        <% else %>
        <a class="brand" href="/">Onde Vamos?
        </a>
        <% end %>
        <!-- <img src="/images/beta.png" /> -->
        </div>
        <ul class="nav">
          <% if usuario_signed_in? %><li><a href="/votos/home">Votação</a></li>
          <li><a href="/grupos">Grupos</a></li>
          <li><a href="/restaurantes">Restaurantes</a></li>
          <% end %>
          <li><a href="/sobre">Sobre</a></li>
          <li><a href="/contato">Contato</a></li>
          <% if !usuario_signed_in? %><li><a href="/usuarios/sign_up">Junte-se a nós!</a></li><% end %>
        </ul>
        <% if usuario_signed_in? %>
          <p class="pull-right"><a href="#"><%= current_usuario.email %></a> <%= link_to('(Sair)', destroy_usuario_session_path, :method => :delete) %></p>
        <% else %>
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "pull-right"}) do |f| %>
            <%= f.email_field :email, :class => 'input-small', :placeholder => 'Email' %>
            <%= f.password_field :password, :class => 'input-small', :placeholder => 'Senha' %>
            <button type="submit" class="btn">Entrar</button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <% if usuario_signed_in? %>
      <div class="page-header">
        <h1><%= I18n.l Date.today, :format => "%A, %d de %B de %Y"  %></h1>
      </div>
      <% end %>
      <div class="row">
        <div class="span10">
          <% if notice %>
          <div class="alert-message block-message success">
            <p><%= notice %></p>
          </div>
          <% end %>
          <% if alert %>
          <div class="alert-message block-message error">
            <p><%= alert %></p>
          </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="span4">
          <h3><span class="label notice">Novidades</span></h3>
          <dl>
            <dt>Moderação</dt>
            <dd>Agora os proprietários dos grupos podem moderar os pedidos de associação.</dd>
            <dt>Grupos</dt>
            <dd>Possibilidade de gerenciar seus grupos. Com isso você pode fazer parte de quantos
            grupos quiser e participar da votação de todos esses grupos.</dd>
            <dt>Restaurantes</dt>
            <dd>Você pode gerenciar as opções de restaurante e adicioná-los aos seus grupos.</dd>
            <dt>Layout</dt>
            <dd>Modificações no layout para permitir que as informações ficassem melhor agregadas.</dd>
          </dl>
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; Hadros <%= I18n.l Date.today, :format => "%Y"  %></p>
    </footer>
  </div>
</body>
</html>
